@charset "ISO-8859-1";

body {
	margin:0;
	padding:0;
	background-color:rgb(220,220,220);
}
input[type=text], input[type=password] ,input[type="submit"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius:5px;
    box-sizing: border-box;
}
.login-wrap{
	padding:16px;
	width:410px;
	overflow:hidden;
	margin:auto;
	margin-top:150px;
	background-color:white;
	border:2px solid;
	border-radius:10px;
}
.login-header{
	color:#02075d;
	text-align:center;
}
.btn-login{
	margin-top:20px !important;
	padding: 1px;
	background-color:#47718e;
	color:white;
	font-size:15px;
}