@charset "ISO-8859-1";
html, body {
	margin:0;
	padding:0;
	height:100%
}
body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

.mainDiv {
	width: 1000px;
	margin: 0 auto;
}

nav {
	width: 100%;
	background: #02075d;
}

ul {
	list-style-type: none;	
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

ul li {
	list-style: none;
	display: inline-block;
	padding: 20px;
	background: #02075d;
	border: none;
}

ul li:hover {
	background: #D1A6A6;
}

ul li a {
	color: #FFF;
	text-decoration: none;
}

.table-wrapper {
	margin: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

table th {
	text-align: center;
	background-color: #3a6070;
	color: #FFF;
	padding: 4px 30px 4px 8px;
}

table td {
	border: 1px solid #e3e3e3;
	padding: 4px 8px;
	overflow: hidden;
}

table tr:nth-child(odd) td {
	background-color: #e7edf0;
}

.register {
	width: 400px !important;
}

.btn-update {
	color: #FFF;
	background-color: #28a745;
	border-color: #28a745;
	display: block;
	text-decoration: none;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	text-align: center;
	padding: 10px;
}

.btn-add {
	color: #FFF;
	background-color: #02075d;
	border-color: #ffc107;
	display: block;
	text-decoration: none;
	padding: 10px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	border-color: #02075d;
	text-align: center;
}

.btn-delete {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
	display: block;
	text-decoration: none;
	padding: 10px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	text-align: center;
}

.align-form {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form {
	margin-bottom: 1rem;
}

.wrap {
	width: 80%;
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.product-tbl table th {
	text-align: center;
	background-color: #cc0000;
	color: #FFF;
	padding: 4px 30px 4px 8px;
}
.welcome{
	position:relative;
	min-height:100%;
}
.abs{
	width:300px;
	height:500px;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
