<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ACASESTUDY</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/Login/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controllers.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/Users/*</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>JspFilesFilter</display-name>
    <filter-name>JspFilesFilter</filter-name>
    <filter-class>controllers.JspFilesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JspFilesFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>controllers.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/Products/*</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ProductsRequestFilter</display-name>
    <filter-name>ProductsRequestFilter</filter-name>
    <filter-class>controllers.ProductsRequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ProductsRequestFilter</filter-name>
    <url-pattern>/Products/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>UsersRequestFilter</display-name>
    <filter-name>UsersRequestFilter</filter-name>
    <filter-class>controllers.UsersRequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UsersRequestFilter</filter-name>
    <url-pattern>/Users/*</url-pattern>
  </filter-mapping>
</web-app>